
    .header {
    width: 100vw;
    height: 10vh;
    display:grid;
    grid-auto-flow: column;
    background-color: #0A1128;
    color: beige;
    position: fixed;
    padding: 0em;
    margin-top: 2em;
    margin-bottom: 5em;
    .styleimage {
        display:flex;
        justify-content:left;
        margin-left: 1em;
        margin-top: 1em;
        margin-right: 2.5em;
        border-radius: 60em;
        width: 5em;
        height: 5em;
    }

    .h1 {
        margin-left:.1em;
        margin-top: -.5em;
        padding-top: .6em;
        color: white;
        font-size: 2.5em ;
        font-weight: 100;
        font-family: 'Times New Roman', Times, serif;

        span {
            font-size: .8em;
            margin-left: .2em;
            margin-top: .3em;
            color: teal;
        };
           }

        .bton { 
        width: fit-content;
        text-align: center;
        font-size: x-large;
        padding-left: 2em;
        padding-top: .5em;
        padding-right: 2em;
        padding-bottom: .5em;
        margin-top: 1.4em;
        margin-bottom: 2.7em;
        color: orange;
        background-color: #001f50;
        border: solid aliceblue 2px;
        border-radius: 10em;     
    display: flex-box;
    position: grid;
    }
}
.bton:hover {
    color: aliceblue;
    background-color: #001f50;
    border: solid chocolate 2px;
}

.intro {
    background-image: url('../../public/bg9.jpg');
    background-size: fill;
    width: screen;
    height: 100vh;
    display: grid;
    font-size: 2.5em;
    padding-top: 0em;

    .log {
        
        display: grid;
        grid-column-end: 3;
        margin-left:-10em;

        .logo{ 
            display: grid;
            border: solid 0.7rem #0A1128;
            border-style: double;
            border-radius: 70em;
            margin-top: 5em;
        
        }
    }
       .info{          
             margin-top: -15rem;
        h3 {
            margin-top: -2rem;
            margin-left: 2em;
            padding-top: -3em;
            color: antiquewhite;
            font-size: 1.5em;

            p {
                color: darkorange;
                font-size: 1em;
                font-weight: 100;
                margin-bottom: 7em;
                margin-left: 2em;
                margin-top: 0em;
                
                span {
                    color: aliceblue;
                    font-size: 1em;
                }
            }
        }

        h1 {
            margin-left: 1em;
            margin-top: -5em;
            margin-bottom: .8em;
            color: rgb(175, 189, 201)
        };

        .Quote{ 
            inline-size: 18em;
            text-align: center;}
        
            q {
            margin-left: 0em;
            margin-top: -21em;
                 
            color: aliceblue
        } ;

    }
} ;

section {color: aliceblue; width: screen; height: screen;}
#about {
    display: grid;
    grid-template-columns: auto;
    background-image: url('../../public/bg5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0em;
    padding-bottom: 3em;
    padding-top: 5em;
    color: aquamarine;
    text-align: center;
    font-size: x-large;

    h1 {
        display: grid;
        grid-template-columns: auto;
        margin-left: .5em;
        margin-bottom: .5em;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #85b903, 0 0 0.5em #85b903, 0 0 0.1em #85b903, 0 15px 4px #000;
    };
h3{margin-bottom: .5em;}
    .text {
        line-height: 1.8em;
        text-align: center;
    };

    .linkedin {
        margin-top: .8em;
        margin-bottom: -0.1em;
        display: flexbox;
        border-radius: 80em;
        box-shadow: 0 0 1em #85b903
    };

    .github {
        display: flex-box;
        border-radius: 80em;
        margin-top: .2em;
        box-shadow: 0 0 1em #85b903;
    }
};

section {
    width: screen; height: screen;
    color: azure;
}
#services {
    width: screen; height: screen;
    display: grid;
    background-image: url('../../public/abg.jpg');
    background-size: fill;

h1 {
    color: beige;
   grid-auto-flow: column;
   text-align: center;
   margin-left: 1.8em;
   padding-top: 2em;
padding-bottom: .5em;
}
.serv-main {
    display:grid;
    grid-auto-flow: column;
    position:relative;
    text-align: center;
    padding-top: 20em;
    padding-bottom: 20em;
    margin-right: 2em;}

#ser {

    display:grid;

   
}
.s-div {
        border: solid .5em;
        border-style: double;
        border-radius: 5em;
        box-shadow: 0 0 2em rgba(231, 235, 14, 0.979);
        margin-left: 2em;
    }
    .s-div:hover {
        box-shadow: 0 2em 2em black;
        border-radius: 90em;
        border: solid .6em;
        box-sizing: border-box ;
    };
}
;
section {
    width: screen;
    height: screen;
    color: white;
}
#contact {
    background-color: black;
     justify-content: center;
    color: wheat;
    font-size: x-large;
    padding-left: 1em;
    padding-top: 8em;
    padding-bottom: 5em;

    p {
        
        text-align: center;
        line-height: 13px
    } };

    address{display: grid;}
.social {
    display:flex;
    justify-content: space-evenly;
    }

.pic {
    border-radius: 90em;
    
}

.map {
    display:grid;
    grid-area: auto;
    margin-left: 15em;
    padding-bottom: 0em;
    border-radius: 37em;
}
