*{ width: screen;
    height: screen;
    padding: 0em;
    margin: 0em;}
body {
    width:screen;
    height:screen;
    display: relative;
    background-color: #001f54;
}
.header {
    display: grid;
    grid-template-rows: 5.5em;
    grid-template-columns:3em 10em 10em 10em 10em 10em;
    justify-content: space-evenly;
    background-color: #0A1128;
    color: beige;
    position: fixed;
    width: 100vw;
    height: 14vh;

    .styleimage {
        display: static;
        justify-content: left;
        margin-left: -4em;
        margin-top: .5em;
        margin-right: 2.5em;
        border-radius: 60em;
        width: 5em;
        height: 5em;
    }

    h1 {

        display: flex;
        margin: 0%;
        margin-top: .5em;
        color: white;
        font-size: 2.5em;
        font-weight: 100;
        font-family: 'Times New Roman', Times, serif;

        span {
            display: flex;
            font-size: 4.5vh;
            margin-left: .2em;
            margin-top: .4em;
            color: teal;
        }

        margin-left: -2em;
    }

    
    .bton { width: screen;
        color: orange;
        background-color: #001f50;
        border: solid aliceblue 2px;
        border-radius: 15em;
        padding-top: .6em;
        padding-bottom: .5em;
        padding-left: 2.5em;
        padding-right: 2em;
        margin-bottom: 1em;
        margin-top: 1.5em;
        font-size: large;
    }
}
.bton:hover {
    color: aliceblue;
    background-color: #001f50;
    border: solid chocolate 2px;
}

.intro {
    background-image: url('../../public/bg9.jpg');
    background-size: fill;
    width: screen;
    height: screen;
    display: grid;
    justify-content: center;
    margin-left: 0em;
    margin-top: 0em;
    font-size: 2.5em;
    padding-bottom: 9em;

    .log {
        width: fit-content;
        display: grid;
        justify-content: center;

        .logo {
            border: solid 0.7rem #0A1128;
            border-style: double;
            border-radius: 70em;
            margin-top: 5em;
            margin-left: 24em;
        }
    }
.intro{ width:screen; height: screen;}
    .info {margin-top: -15rem;
        h3 {
            margin-top: -2rem;
            margin-left: 2em;
            padding-top: -3em;
            color: antiquewhite;
            font-size: 1.5em;

            p {
                color: darkorange;
                font-size: 1em;
                font-weight: 100;
                margin-bottom: 7em;
                margin-left: 2em;
                margin-top: 0em;
                
                span {
                    color: aliceblue;
                    font-size: 1em;
                }
            }
        }

        h1 {
            margin-left: 1em;
            margin-top: -5em;
            margin-bottom: .8em;
            color: rgb(175, 189, 201)
        };

        q {
            margin-left: 1em;
            margin-top: -21em;
                 
            color: aliceblue
        } ;

    }
} ;

section {color: aliceblue; width: screen; height: screen;}
#about {
    width: screen; 
    height: screen;
    display: grid;
    grid-template-columns: auto;
    background-image: url('../../public/bg5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0em;
    margin-bottom: 8em;
    padding-bottom: 15em;
    padding-top: 5em;
    color: aquamarine;
    text-align: center;
    font-size: x-large;

    h1 {
        display: grid;
        grid-template-columns: auto;
        margin-left: .5em;
        margin-bottom: .5em;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #85b903, 0 0 0.5em #85b903, 0 0 0.1em #85b903, 0 15px 4px #000;
    };
h3{margin-bottom: .5em;}
    .text {
        line-height: 1.8em;
        text-align: center;
    };

    .linkedin {
        margin-top: .8em;
        margin-bottom: -0.1em;
        display: flexbox;
        border-radius: 80em;
        box-shadow: 0 0 1em #85b903
    };

    .github {
        display: flex-box;
        border-radius: 80em;
        margin-top: .2em;
        box-shadow: 0 0 1em #85b903;
    }
};

section {
    width: screen; height: screen;
    color: azure;
}

#services {
    width: screen; height: screen;
    display: grid;
    grid-template-columns: auto;
    background-image: url('../../public/abg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20em;
    padding-bottom: 12.8em;
    margin-top: 0em;
}

h1 {
    color: beige;
    text-align: center;
   display: flex;
   margin-left: 2em;
   margin-top: 1em;

}
.serv-main {
    width: screen; height:screen;
    display:grid;
    grid-auto-flow: column;
    position:relative;
}

.ser {
    width: screen;
    height: screen;
    display: grid;
    grid-auto-flow: space-evenly;
    padding-bottom: 13.5em;
position: relative;
    .s-div {
        width: 10vw;
        height: 20vh;
        border: solid .5em;
        border-style: double;
        border-radius: 5em;
        box-shadow: 0 0 2em rgba(231, 235, 14, 0.979);

    }
    .image{
        padding-left: 3em ; padding-top: 2em };
    .s-div:hover {
        box-shadow: 0 2em 2em black;
        border-radius: 90em;
        border: solid .6em;
        box-sizing: border-box ;
    }

} ;

section {
    width: screen;
    height: screen;
    color: white;
}
#contact {
    width: screen;
    height: screen;
    background-color: black;
    display: flexbox;
    justify-content: center;
    color: wheat;
    font-size: x-large;
    margin-top: -15em;
    padding-left: 7em;
    padding-top: 1em;
    padding-bottom: 5em;

    p {
        margin-top: .2em;
        text-align: center;
        line-height: 13px
    } };

.social {
    display: flex;
    justify-content: center;}


.a {
    display: grid;
    grid-auto-flow: column;
}
.pic {

    border-radius: 90em;
    display: flex-box;
    justify-content: space-evenly;

    
}

.map {
    display: flex;
    margin-left: 40em;
    padding-bottom: 0em;
    border-radius: 37em;
}